body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Tarayıcının arkaplanı siyahımsı olsun */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfayı tam boy kapla */
}

canvas {
    background-color: #1e1e1e;
    border: 2px solid #333;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    cursor: none; /* FARE İMLECİNİ GİZLER */
}